<div class="container-fluid p-5">
    <div class="row">
        <div class="col-8">
            <div class="slide-container">
                <h3 class="headings">Last week IQRA events</h3>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block" height="500"  width="800" src="./assets/img/slide_1.jpg"
                                alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" height="500"  width="800" src="./assets/img/slide_2.jpg"
                                alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" height="500"  width="800" src="./assets/img/slide_3.jpg"
                                alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block" height="500"  width="800" src="./assets/img/slide_4.jpg" alt="4 slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class="footers">Hosted by IQRA Delhi Team</h3>
            </div>
        </div>
        <div class="col-4" *ngIf="isLogin">

            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        <img width="40" height="70" src="./assets/img/iqra.jpg" id="icon" alt="User Icon" />
                    </div>
                    <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
                        <input type="text" [(ngModel)]="userName" id="userName" class="fadeIn second p-3" name="userName" placeholder="User Name">
                        <input type="text" [(ngModel)]="password" id="password" class="fadeIn third p-3" name="password" placeholder="Password">
                        <input type="submit" class="fadeIn fourth" value="Log In">
                    </form>
                    <div id="formFooter" class="row m-0">
                        <a class="underlineHover col" (click)="loginSwitch('otp')">Forgot Password?</a>
                        <a class="underlineHover col" (click)="loginSwitch('register')">Register</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-4" *ngIf="isForgotPassword">

            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        <img width="40" height="70" src="./assets/img/iqra.jpg" id="icon" alt="User Icon" />
                    </div>
                    <form #forgotForm="ngForm" (ngSubmit)="onForgotSubmit(forgotForm)">
                        <input type="text" [(ngModel)]="otp" id="otp" class="fadeIn second p-3" name="otp" placeholder="OTP">
                        <input type="text" [(ngModel)]="newPass" id="newPass" class="fadeIn second p-3" name="newPass" placeholder="New Password">
                        <input type="text" [(ngModel)]="confirmPass" id="confirmPass" class="fadeIn third p-3" name="confirmPass" placeholder="Confirm Password">
                        <input type="submit" class="fadeIn fourth" value="Log In">
                    </form>
                    <div id="formFooter" class="row m-0">
                        <!-- <a class="underlineHover col" (click)="loginSwitch('forgotPassword')">Forgot Password?</a> -->
                        <a class="underlineHover col" (click)="loginSwitch('login')">Register</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-4" *ngIf="isOTP">

            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        <img width="40" height="70" src="./assets/img/iqra.jpg" id="icon" alt="User Icon" />
                    </div>
                    <form #otpForm="ngForm" (ngSubmit)="onOTPSubmit(otpForm)">
                        <!-- <input type="text" id="otp" class="fadeIn second p-3" name="otp" placeholder="OTP"> -->
                        <!-- <input type="text" id="Password" class="fadeIn second p-3" name="password" placeholder="Password"> -->
                        <input type="text" id="contact" [(ngModel)]="contact" class="fadeIn third p-3" name="contact" placeholder="Enter Mobile No or Email Id">
                        <input type="submit" class="fadeIn fourth" value="Send OTP">
                    </form>
                    <div id="formFooter" class="row m-0">
                        <!-- <a class="underlineHover col" (click)="loginSwitch('forgotPassword')">Forgot Password?</a> -->
                        <a class="underlineHover col" (click)="loginSwitch('login')">Login</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-4" *ngIf="isRegister">

            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        <img width="40" height="70" src="./assets/img/iqra.jpg" id="icon" alt="User Icon" />
                    </div>
                    <form #newUserForm="ngForm" (ngSubmit)="onRegSubmit(newUserForm)">
                        <input type="text" id="Name" [(ngModel)]="userName" class="fadeIn second p-2" name="name"
                            placeholder="Name" autocomplete="off">
                            <input type="text" id="MobileNumber" [(ngModel)]="mobileNumber" class="fadeIn second p-2"
                            name="mobileNumber" placeholder="Mobile Number" autocomplete="off">
                            <input type="text" id="emailId" [(ngModel)]="emailId" class="fadeIn second p-2"
                            name="emailId" placeholder="Email" autocomplete="off">
                        <!-- <div class="row m-0 p-2">
                            <div class="col">
                                <select [(ngModel)]="gender" class="fadeIn second p-2 form-control" name="gender"
                                    placeholder="Gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div class="col">
                                <select [(ngModel)]="religion" class="fadeIn second p-2 form-control" name="religion"
                                    placeholder="Religion">
                                    <option>Islam</option>
                                    <option>Hinduism</option>
                                    <option>Christianity</option>
                                    <option>Sikhism</option>
                                    <option>Buddhism</option>
                                    <option>Jainism</option>
                                    <option>Others</option>
                                </select>
                            </div> -->
                            <!-- <input type="text" name="Gender" class="fadeIn second p-2 col" name="gender" placeholder="Gender" autocomplete="off">
                            <input type="text" name="Religion" class="fadeIn second p-2 col" name="religion" placeholder="Religion" autocomplete="off"> -->
                        <!-- </div> -->
                        <!-- <div class="row m-0 p-2">
                            <div class="col">
                                <select name="contactMethod" name="contactMethod" class="form-control"
                                    [(ngModel)]="selectedCountry">
                                    <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="fadeIn second p-2 form-control" name="Religion" placeholder="Religion">
                                    <option>Hinduism</option>
                                    <option>Islam</option>
                                    <option>Christianity</option>
                                    <option>Sikhism</option>
                                    <option>Buddhism</option>
                                    <option>Jainism</option>
                                    <option>Others</option>
                                </select>
                            </div> -->
                        <!-- <input type="text" name="Gender" class="fadeIn second p-2 col" name="gender" placeholder="Gender" autocomplete="off">
                            <input type="text" name="Religion" class="fadeIn second p-2 col" name="religion" placeholder="Religion" autocomplete="off"> -->
                        <!-- </div> -->
                        <!-- <div class="row m-0 p-2">
                            <div class="col">
                                <select class="fadeIn second p-2 form-control" name="Gender" placeholder="Gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="fadeIn second p-2 form-control" name="Religion" placeholder="Religion">
                                    <option>Hinduism</option>
                                    <option>Islam</option>
                                    <option>Christianity</option>
                                    <option>Sikhism</option>
                                    <option>Buddhism</option>
                                    <option>Jainism</option>
                                    <option>Others</option>
                                </select>
                            </div> -->
                        <!-- <input type="text" name="Gender" class="fadeIn second p-2 col" name="gender" placeholder="Gender" autocomplete="off">
                            <input type="text" name="Religion" class="fadeIn second p-2 col" name="religion" placeholder="Religion" autocomplete="off"> -->
                        <!-- </div> -->
                        <!-- <input type="text" name="Address" class="fadeIn second p-2" name="Address" placeholder="Address" autocomplete="off"> -->
                        <!-- <input type="text" name="Geocode" class="fadeIn second p-2" name="Geo-code" placeholder="Geo code"
                            autocomplete="off"> -->
                        <!-- <input type="text" id="educationQualification" [(ngModel)]="educationQualification"
                            class="fadeIn second p-2" name="educationQualification"
                            placeholder="Education Qualification" autocomplete="off"> -->
                        <input type="text" id="currentOccupation" [(ngModel)]="currentOccupation"
                            class="fadeIn second p-2" name="currentOccupation" placeholder="Current Occupation"
                            autocomplete="off">
                        <!-- <input type="text" id="reasonForJoining" [(ngModel)]="reasonForJoining" class="fadeIn second p-2"
                            name="reasonForJoining" placeholder="Reason For Joining" autocomplete="off"> -->
                        <input type="text" id="yourContribution" [(ngModel)]="yourContribution" class="fadeIn third p-2"
                            name="yourContribution" placeholder="Your Contribution" autocomplete="off">
                        <input type="text" id="password" [(ngModel)]="password" class="fadeIn third p-2" name="password"
                            placeholder="Password" autocomplete="off">
                        <input type="submit" class="fadeIn fourth" value="Register">
                    </form>
                    <div id="formFooter" class="row m-0">
                        <!-- <a class="underlineHover col" href="#">Forgot Password?</a> -->
                        <a class="underlineHover col" (click)="loginSwitch('login')">Login</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>