<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.iqra.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://iqra.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.iqra.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.iqra.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.iqra.com" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>
